@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-Thin_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-Thin_Web.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-ThinItalic_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-ThinItalic_Web.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-Book_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-Book_Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-BookItalic_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-BookItalic_Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-Bold_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-Bold_Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HCo Gotham';
    src: url('/_static/fonts/woff2/Gotham-BoldItalic_Web.woff2') format('woff2'),
    url('/_static/fonts/woff/Gotham-BoldItalic_Web.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* ------------------------------------------------------------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.sidebar-tree ul {
    margin-bottom: 1rem;
}

@media (max-width: 97em) {
    .content {
        padding: 0 2em;
        width: 51em;
    }
}

.plantuml {
    overflow-x: auto;
}

.plantuml img {
    position: relative;
    z-index: 100;
}

.plantuml img:hover {
    max-width: none;
}

.protocol {
    color: salmon;
}
